# Lending club loan prediction

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

pd.options.display.max_columns = 100

In [2]:
data = pd.read_csv('loans_2007.csv')
print(data.shape)
data.head()

(42538, 52)

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

# Data cleaning

Dropping columns that are randomly generated or leak info from future

In [3]:
drop_cols = ['id','member_id','funded_amnt','funded_amnt_inv','grade','sub_grade','emp_title','issue_d']
data = data.drop(drop_cols, axis=1)
data.shape

(42538, 44)

In [4]:
drop_cols = ['zip_code','out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp']
data = data.drop(drop_cols, axis=1)
assert(data.shape[1] == 38)

In [5]:
drop_cols = ['total_rec_int','total_rec_late_fee','recoveries','collection_recovery_fee','last_pymnt_d','last_pymnt_amnt']
data = data.drop(drop_cols, axis=1)
assert(data.shape[1] == 32)

### Picking target column: loan_status

In [6]:
data.loan_status.value_counts()

Fully Paid                                             33136
Charged Off                                             5634
Does not meet the credit policy. Status:Fully Paid      1988
Current                                                  961
Does not meet the credit policy. Status:Charged Off      761
Late (31-120 days)                                        24
In Grace Period                                           20
Late (16-30 days)                                          8
Default                                                    3
Name: loan_status, dtype: int64

### Explanation of loan_status values:

* Fully Paid	33136	Loan has been fully paid off.
* Charged Off	5634	Loan for which there is no longer a reasonable expectation of further payments.
* Does not meet the credit policy. Status:Fully Paid	1988	While the loan was paid off, the loan application today would no longer meet the credit policy and wouldn't be approved on to the marketplace.
* Does not meet the credit policy. Status:Charged Off	761	While the loan was charged off, the loan application today would no longer meet the credit policy and wouldn't be approved on to the marketplace.
* In Grace Period	20	The loan is past due but still in the grace period of 15 days.
* Late (16-30 days)	8	Loan hasn't been paid in 16 to 30 days (late on the current payment).
* Late (31-120 days)	24	Loan hasn't been paid in 31 to 120 days (late on the current payment).
* Current	961	Loan is up to date on current payments.
* Default	3	Loan is defaulted on and no payment has been made for more than 121 days.

From the investor's perspective, we're interested in trying to predict which loans will be paid off on time and which ones won't be. Only the Fully Paid and Charged Off values describe the final outcome of the loan. The other values describe loans that are still on going and where the jury is still out on if the borrower will pay back the loan on time or not. While the Default status resembles the Charged Off status, in Lending Club's eyes, loans that are charged off have essentially no chance of being repaid while default ones have a small chance. You can read about the difference here.  Since we're interested in being able to predict which of these 2 values a loan will fall under, we can treat the problem as a binary classification one.

In [7]:
replace_dict={"loan_status": {"Fully Paid": 1, "Charged Off":0}}
data = data.replace(replace_dict)

In [8]:
temp_data = data[(data['loan_status']== 1) | (data['loan_status'] == 0)]
temp_data.loan_status.value_counts()

1    33136
0     5634
Name: loan_status, dtype: int64

In [9]:
data = temp_data
data['loan_status'] = data['loan_status'].astype(int)

Drop all columns that only have one value in them

In [10]:
drop_cols = []

for each in data.columns:
    series = data[each]
    series = series.dropna()
    if len(series.unique()) == 1:
        drop_cols.append(each)
print(drop_cols)

['pymnt_plan', 'initial_list_status', 'collections_12_mths_ex_med', 'policy_code', 'application_type', 'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt', 'tax_liens']

In [11]:
old_col_number = data.shape[1]

data = data.drop(drop_cols,axis = 1)
assert(data.shape[1] == old_col_number - len(drop_cols))

### Filtering null columns

In [12]:
data.isnull().sum()

loan_amnt                  0
term                       0
int_rate                   0
installment                0
emp_length              1036
home_ownership             0
annual_inc                 0
verification_status        0
loan_status                0
purpose                    0
title                     11
addr_state                 0
dti                        0
delinq_2yrs                0
earliest_cr_line           0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                50
total_acc                  0
last_credit_pull_d         2
pub_rec_bankruptcies     697
dtype: int64

We will assume 'na' for emp_length implies working at current job < 1 year, and we will assume 'na' for pub_rec_bankruptcies implies 0 bankrupcies

In [13]:
data = data.fillna({"emp_length": 0, "pub_rec_bankruptcies": 0})
data.isnull().sum()

loan_amnt                0
term                     0
int_rate                 0
installment              0
emp_length               0
home_ownership           0
annual_inc               0
verification_status      0
loan_status              0
purpose                  0
title                   11
addr_state               0
dti                      0
delinq_2yrs              0
earliest_cr_line         0
inq_last_6mths           0
open_acc                 0
pub_rec                  0
revol_bal                0
revol_util              50
total_acc                0
last_credit_pull_d       2
pub_rec_bankruptcies     0
dtype: int64

Dropping remaining rows with 'na' values

In [14]:
print(data.shape)
data = data.dropna(axis=0)
print(data.shape)

(38770, 23)
(38707, 23)

In [15]:
data.isnull().sum()

loan_amnt               0
term                    0
int_rate                0
installment             0
emp_length              0
home_ownership          0
annual_inc              0
verification_status     0
loan_status             0
purpose                 0
title                   0
addr_state              0
dti                     0
delinq_2yrs             0
earliest_cr_line        0
inq_last_6mths          0
open_acc                0
pub_rec                 0
revol_bal               0
revol_util              0
total_acc               0
last_credit_pull_d      0
pub_rec_bankruptcies    0
dtype: int64

### Converting to numerical data

In [16]:
data.dtypes.value_counts()

object     11
float64    11
int64       1
dtype: int64

In [17]:
text_data = data.select_dtypes(include=['object'])
text_data.dtypes.value_counts()

object    11
dtype: int64

In [18]:
text_data.head()

,term,int_rate,emp_length,home_ownership,verification_status,purpose,title,addr_state,earliest_cr_line,revol_util,last_credit_pull_d
0,36 months,10.65%,10+ years,RENT,Verified,credit_card,Computer,AZ,Jan-1985,83.7%,Jun-2016
1,60 months,15.27%,< 1 year,RENT,Source Verified,car,bike,GA,Apr-1999,9.4%,Sep-2013
2,36 months,15.96%,10+ years,RENT,Not Verified,small_business,real estate business,IL,Nov-2001,98.5%,Jun-2016
3,36 months,13.49%,10+ years,RENT,Source Verified,other,personel,CA,Feb-1996,21%,Apr-2016
5,36 months,7.90%,3 years,RENT,Source Verified,wedding,My wedding loan I promise to pay back,AZ,Nov-2004,28.3%,Jan-2016

In [19]:
for each in text_data.columns:
    print(each)
    print(text_data[each].value_counts())
    print()

term
 36 months    29040
 60 months     9667
Name: term, dtype: int64

int_rate
 10.99%    928
 11.49%    793
  7.51%    787
 13.49%    760
  7.88%    725
  7.49%    652
  9.99%    593
  7.90%    574
  5.42%    573
 11.71%    563
 11.99%    492
 10.37%    469
 12.69%    452
  6.03%    447
  8.49%    440
 12.99%    417
  5.79%    410
 12.42%    407
 10.65%    404
  7.29%    397
  6.62%    396
 11.86%    391
  8.90%    386
  9.63%    378
 10.59%    362
  9.91%    357
  5.99%    347
 14.27%    342
  7.14%    340
  6.99%    336
          ...
 21.82%      2
 17.90%      2
 13.84%      2
 20.20%      2
 15.01%      2
 15.83%      2
 17.15%      2
 14.70%      2
 14.88%      2
 17.03%      2
 15.38%      2
 24.40%      1
 14.67%      1
 21.48%      1
 16.20%      1
 16.15%      1
 17.54%      1
 22.64%      1
 17.44%      1
 10.64%      1
 17.34%      1
 18.36%      1
 20.52%      1
 16.01%      1
 18.72%      1
 16.33%      1
 24.59%      1
 16.71%      1
 16.96%      1
 17.46%      1
Name: int_rate, Length: 371, dtype: int64

emp_length
10+ years    8545
< 1 year     4513
2 years      4303
3 years      4022
4 years      3353
5 years      3202
1 year       3176
6 years      2177
7 years      1714
8 years      1442
9 years      1228
0            1032
Name: emp_length, dtype: int64

home_ownership
RENT        18513
MORTGAGE    17111
OWN          2984
OTHER          96
NONE            3
Name: home_ownership, dtype: int64

verification_status
Not Verified       16696
Verified           12289
Source Verified     9722
Name: verification_status, dtype: int64

purpose
debt_consolidation    18130
credit_card            5039
other                  3864
home_improvement       2897
major_purchase         2154
small_business         1762
car                    1510
wedding                 929
medical                 680
moving                  576
vacation                375
house                   369
educational             320
renewable_energy        102
Name: purpose, dtype: int64

title
Debt Consolidation                                     2104
Debt Consolidation Loan                                1632
Personal Loan                                           642
Consolidation                                           494
debt consolidation                                      485
Credit Card Consolidation                               353
Home Improvement                                        346
Debt consolidation                                      324
Small Business Loan                                     310
Credit Card Loan                                        305
Personal                                                302
Consolidation Loan                                      251
Home Improvement Loan                                   234
personal loan                                           227
personal                                                211
Loan                                                    208
Wedding Loan                                            201
Car Loan                                                195
consolidation                                           193
Other Loan                                              181
Credit Card Payoff                                      150
Wedding                                                 149
Credit Card Refinance                                   143
Major Purchase Loan                                     139
Consolidate                                             125
Medical                                                 118
Credit Card                                             115
home improvement                                        107
My Loan                                                  92
Credit Cards                                             91
                                                       ...
CONSOLIDATE HIGH INTEREST LOAN                            1
Prefer the stability of a fixed rate                      1
Loan to pay off my cards in 1 yr less!                    1
Looking to smooth my payment stream                       1
More than 1/2 way out of debt, need help finishing.       1
hard luck loan                                            1
lending club loan 1                                       1
Paypal Purchase                                           1
Better Interest Rate                                      1
pay off wheaton loan                                      1
Wedding & Debt Consolidation                              1
Car for Daughter                                          1
Burt's get out of debt loan                               1
Please Get Us Out of Debt                                 1
Pay off revolving debt                                    1
BCL                                                       1
HomeFurniture                                             1
credit balance                                            1
Debt Consolidation Extraordinaire 2011                    1
First Time Home Buyer w/ Tax Credit                       1
My Own 203K Home Improvement Loan                         1
Debt reduction                                            1
looking to remolding kitchen                              1
bankroll                                                  1
wedds                                                     1
Pay off our debt                                          1
Nicole's Loan                                             1
Short Term Financing Needed                               1
Help Paying My Daughter Medical Bills                     1
No more Pink Kitchen Nightmare....                        1
Name: title, Length: 19331, dtype: int64

addr_state
CA    6958
NY    3713
FL    2791
TX    2667
NJ    1798
IL    1483
PA    1473
VA    1376
GA    1364
MA    1301
OH    1179
MD    1026
AZ     850
WA     822
CO     770
NC     753
CT     730
MI     712
MO     670
MN     603
NV     481
SC     462
WI     441
AL     437
OR     436
LA     430
KY     315
OK     290
KS     260
UT     254
AR     237
DC     209
RI     196
NM     184
WV     172
NH     166
HI     166
DE     113
MT      83
WY      80
AK      78
SD      61
VT      53
MS      19
TN      17
IN       9
ID       6
IA       5
NE       5
ME       3
Name: addr_state, dtype: int64

earliest_cr_line
Oct-1999    360
Nov-1998    358
Oct-2000    340
Dec-1998    340
Dec-1997    320
Nov-2000    316
Nov-1999    315
Sep-2000    301
Oct-1998    295
Nov-1997    294
Dec-1995    287
Dec-1999    286
Jan-2000    279
Dec-2000    279
Sep-2001    265
Nov-1996    264
Jul-2000    264
Aug-2000    263
Oct-2001    262
Dec-1996    261
Oct-2002    258
Sep-1999    255
Aug-1998    251
May-2000    249
Apr-2000    245
Oct-1997    243
Aug-1999    242
Jan-1999    241
Oct-2003    240
Sep-1998    239
           ...
Dec-1950      1
Apr-1969      1
Jun-1966      1
Sep-1963      1
Dec-1963      1
Nov-1954      1
Mar-1963      1
Sep-1965      1
Jun-1967      1
Jun-1968      1
Oct-2008      1
Nov-1962      1
Nov-2008      1
Nov-1968      1
Dec-1965      1
Aug-1967      1
Feb-1966      1
Oct-1968      1
Oct-1974      1
Oct-1954      1
Mar-1968      1
Jan-1946      1
Dec-1966      1
Jun-1972      1
Sep-1956      1
Oct-1969      1
Nov-1965      1
Jun-1959      1
May-1967      1
May-1965      1
Name: earliest_cr_line, Length: 524, dtype: int64

revol_util
0%        960
0.2%       63
63%        62
40.7%      58
66.7%      57
31.2%      57
46.4%      57
0.1%       57
61%        56
70.4%      56
66.6%      55
57.4%      55
37.6%      55
32%        54
75.5%      54
46.6%      54
64.6%      54
64.8%      54
25.5%      53
35.3%      53
65.9%      53
70.8%      53
48.9%      53
68.7%      53
34.4%      53
49.8%      53
48%        52
41%        52
36.5%      52
89.5%      52
         ...
77.63%      1
33.39%      1
33.26%      1
23.11%      1
17.67%      1
62.31%      1
25.74%      1
9.34%       1
0.46%       1
21.72%      1
43.61%      1
0.49%       1
33.29%      1
24.89%      1
2.64%       1
32.04%      1
8.58%       1
5.34%       1
13.56%      1
18.82%      1
3.18%       1
29.77%      1
17.71%      1
5.33%       1
16.02%      1
0.04%       1
0.54%       1
54.22%      1
36.88%      1
7.64%       1

Name: revol_util, Length: 1088, dtype: int64

last_credit_pull_d
Jun-2016    10727
Mar-2016     1057
Apr-2016      864
Feb-2013      838
May-2016      735
Feb-2016      704
Jan-2016      633
Dec-2015      626
Mar-2013      574
Dec-2014      556
Mar-2014      555
Jul-2014      546
Sep-2014      540
Jul-2015      522
Feb-2014      521
Oct-2014      515
Aug-2014      515
Jan-2014      512
Sep-2015      505
Nov-2015      500
Nov-2014      492
Apr-2014      482
Oct-2015      478
Nov-2013      470
May-2014      466
Jun-2014      456
May-2013      447
Jan-2015      427
Apr-2013      422
Dec-2013      418
            ...
Jan-2013       34
Oct-2009       33
Nov-2009       28
Jan-2010       27
Aug-2009       19
Feb-2009       16
Aug-2007       15
Apr-2009       15
Jan-2009       14
Jul-2009       13
Jun-2009       13
Jun-2007       12
Mar-2009       10
May-2009       10
Sep-2009       10
Aug-2008        9
Oct-2008        9
Dec-2008        5
Sep-2008        5
Mar-2008        4
Feb-2008        3
Oct-2007        3
Jan-2008        3
Dec-2007        2
Sep-2007        2
May-2007        1
Jun-2008        1
May-2008        1
Jul-2007        1
Jul-2008        1
Name: last_credit_pull_d, Length: 107, dtype: int64

In [20]:
data = data.drop(['last_credit_pull_d', 'addr_state', 'title', 'earliest_cr_line'], axis=1)
data

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,pub_rec_bankruptcies
0,5000.0,36 months,10.65%,162.87,10+ years,RENT,24000.00,Verified,1,credit_card,27.65,0.0,1.0,3.0,0.0,13648.0,83.7%,9.0,0.0
1,2500.0,60 months,15.27%,59.83,< 1 year,RENT,30000.00,Source Verified,0,car,1.00,0.0,5.0,3.0,0.0,1687.0,9.4%,4.0,0.0
2,2400.0,36 months,15.96%,84.33,10+ years,RENT,12252.00,Not Verified,1,small_business,8.72,0.0,2.0,2.0,0.0,2956.0,98.5%,10.0,0.0
3,10000.0,36 months,13.49%,339.31,10+ years,RENT,49200.00,Source Verified,1,other,20.00,0.0,1.0,10.0,0.0,5598.0,21%,37.0,0.0
5,5000.0,36 months,7.90%,156.46,3 years,RENT,36000.00,Source Verified,1,wedding,11.20,0.0,3.0,9.0,0.0,7963.0,28.3%,12.0,0.0
6,7000.0,60 months,15.96%,170.08,8 years,RENT,47004.00,Not Verified,1,debt_consolidation,23.51,0.0,1.0,7.0,0.0,17726.0,85.6%,11.0,0.0
7,3000.0,36 months,18.64%,109.43,9 years,RENT,48000.00,Source Verified,1,car,5.35,0.0,2.0,4.0,0.0,8221.0,87.5%,4.0,0.0
8,5600.0,60 months,21.28%,152.39,4 years,OWN,40000.00,Source Verified,0,small_business,5.55,0.0,2.0,11.0,0.0,5210.0,32.6%,13.0,0.0
9,5375.0,60 months,12.69%,121.45,< 1 year,RENT,15000.00,Verified,0,other,18.08,0.0,0.0,2.0,0.0,9279.0,36.5%,3.0,0.0
10,6500.0,60 months,14.65%,153.45,5 years,OWN,72000.00,Not Verified,1,debt_consolidation,16.12,0.0,2.0,14.0,0.0,4032.0,20.6%,23.0,0.0
11,12000.0,36 months,12.69%,402.54,10+ years,OWN,75000.00,Source Verified,1,debt_consolidation,10.78,0.0,0.0,12.0,0.0,23336.0,67.1%,34.0,0.0
12,9000.0,36 months,13.49%,305.38,< 1 year,RENT,30000.00,Source Verified,0,debt_consolidation,10.08,0.0,1.0,4.0,0.0,10452.0,91.7%,9.0,0.0
13,3000.0,36 months,9.91%,96.68,3 years,RENT,15000.00,Source Verified,1,credit_card,12.56,0.0,2.0,11.0,0.0,7323.0,43.1%,11.0,0.0
14,10000.0,36 months,10.65%,325.74,3 years,RENT,100000.00,Source Verified,0,other,7.06,0.0,2.0,14.0,0.0,11997.0,55.5%,29.0,0.0
15,1000.0,36 months,16.29%,35.31,< 1 year,RENT,28000.00,Not Verified,1,debt_consolidation,20.31,0.0,1.0,11.0,0.0,6524.0,81.5%,23.0,0.0
16,10000.0,36 months,15.27%,347.98,4 years,RENT,42000.00,Not Verified,1,home_improvement,18.60,0.0,2.0,14.0,0.0,24043.0,70.2%,28.0,0.0
17,3600.0,36 months,6.03%,109.57,10+ years,MORTGAGE,110000.00,Not Verified,1,major_purchase,10.52,0.0,0.0,20.0,0.0,22836.0,16%,42.0,0.0
18,6000.0,36 months,11.71%,198.46,1 year,MORTGAGE,84000.00,Verified,1,medical,18.44,2.0,0.0,4.0,0.0,0.0,37.73%,14.0,0.0
19,9200.0,36 months,6.03%,280.01,6 years,RENT,77385.19,Not Verified,1,debt_consolidation,9.86,0.0,0.0,8.0,0.0,7314.0,23.1%,28.0,0.0
20,20250.0,60 months,15.27%,484.63,3 years,RENT,43370.00,Verified,1,debt_consolidation,26.53,0.0,3.0,8.0,0.0,17813.0,85.6%,22.0,0.0
21,21000.0,36 months,12.42%,701.73,10+ years,RENT,105000.00,Verified,0,debt_consolidation,13.22,0.0,0.0,7.0,0.0,32135.0,90.3%,38.0,0.0
22,10000.0,36 months,11.71%,330.76,10+ years,OWN,50000.00,Source Verified,1,credit_card,11.18,0.0,0.0,8.0,0.0,10056.0,82.4%,21.0,0.0
23,10000.0,36 months,11.71%,330.76,5 years,RENT,50000.00,Not Verified,1,debt_consolidation,16.01,0.0,0.0,6.0,0.0,17800.0,91.8%,17.0,0.0
24,6000.0,36 months,11.71%,198.46,1 year,RENT,76000.00,Not Verified,0,major_purchase,2.40,0.0,1.0,7.0,0.0,5963.0,29.7%,7.0,0.0
25,15000.0,36 months,9.91%,483.38,2 years,MORTGAGE,92000.00,Verified,1,credit_card,29.44,0.0,0.0,8.0,0.0,13707.0,93.9%,31.0,0.0
26,15000.0,36 months,14.27%,514.64,9 years,RENT,60000.00,Not Verified,0,debt_consolidation,15.22,0.0,1.0,7.0,0.0,5872.0,57.6%,11.0,0.0
27,5000.0,60 months,16.77%,123.65,2 years,RENT,50004.00,Not Verified,0,other,13.97,3.0,0.0,14.0,0.0,4345.0,59.5%,22.0,0.0
28,4000.0,36 months,11.71%,132.31,10+ years,MORTGAGE,106000.00,Not Verified,1,debt_consolidation,5.63,1.0,0.0,12.0,0.0,6110.0,37.7%,44.0,0.0
29,8500.0,36 months,11.71%,281.15,< 1 year,RENT,25000.00,Source Verified,1,credit_card,12.19,0.0,0.0,8.0,0.0,6441.0,59.1%,12.0,0.0
30,4375.0,36 months,7.51%,136.11,7 years,MORTGAGE,17108.00,Source Verified,1,debt_consolidation,20.34,0.0,0.0,6.0,0.0,11210.0,86.9%,12.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39756,12000.0,36 months,12.49%,401.37,9 years,OWN,75000.00,Not Verified,1,credit_card,15.00,0.0,3.0,9.0,0.0,43039.0,93.4%,24.0,0.0
39757,20000.0,36 months,13.43%,678.08,6 years,MORTGAGE,145000.00,Not Verified,0,credit_card,10.15,0.0,0.0,17.0,0.0,41674.0,74.1%,26.0,0.0
39758,1200.0,36 months,11.54%,39.60,< 1 year,RENT,20000.00,Not Verified,1,credit_card,2.04,0.0,2.0,3.0,0.0,1153.0,75.8%,4.0,0.0
39759,12250.0,36 months,10.59%,398.69,3 years,RENT,60000.00,Not Verified,1,small_business,17.12,1.0,2.0,10.0,0.0,17214.0,8.1%,24.0,0.0
39760,2700.0,36 months,15.96%,94.88,1 year,RENT,52200.00,Not Verified,1,debt_consolidation,12.57,0.0,1.0,12.0,0.0,3075.0,92.3%,13.0,0.0
39761,5000.0,36 months,9.01%,159.03,1 year,MORTGAGE,250000.00,Not Verified,1,other,10.00,2.0,0.0,5.0,0.0,14354.0,36.6%,7.0,0.0
39762,3500.0,36 months,9.96%,112.87,< 1 year,RENT,13500.00,Not Verified,1,educational,16.44,0.0,1.0,10.0,0.0,2864.0,41.1%,16.0,0.0
39763,5000.0,36 months,7.43%,155.38,8 years,MORTGAGE,150000.00,Not Verified,1,home_improvement,0.00,0.0,0.0,2.0,0.0,6053.0,19.5%,19.0,0.0
39764,5000.0,36 months,7.43%,155.38,7 years,MORTGAGE,95000.00,Not Verified,1,vacation,3.83,0.0,0.0,8.0,0.0,3660.0,6.8%,16.0,0.0
39765,25000.0,36 months,10.59%,813.65,2 years,RENT,48000.00,Not Verified,1,small_business,4.05,0.0,0.0,5.0,0.0,2422.0,23.3%,12.0,0.0
39766,10000.0,36 months,10.28%,323.98,< 1 year,RENT,27376.00,Not Verified,1,small_business,10.70,0.0,0.0,4.0,0.0,3534.0,54.4%,4.0,0.0
39767,5000.0,36 months,9.01%,159.03,1 year,RENT,73000.00,Not Verified,1,credit_card,9.96,0.0,0.0,21.0,0.0,23489.0,37.6%,28.0,0.0
39768,5100.0,36 months,8.38%,160.72,4 years,RENT,32000.00,Not Verified,1,vacation,14.78,0.0,0.0,11.0,0.0,4737.0,23.9%,22.0,0.0
39769,5400.0,36 months,7.75%,168.60,< 1 year,RENT,8000.00,Not Verified,1,educational,3.00,0.0,0.0,4.0,0.0,1321.0,16.5%,4.0,0.0
39770,5300.0,36 months,8.38%,167.02,7 years,MORTGAGE,74000.00,Not Verified,1,credit_card,14.37,0.0,0.0,15.0,0.0,6844.0,14.4%,29.0,0.0
39771,5000.0,36 months,11.22%,164.23,1 year,OWN,30000.00,Not Verified,1,credit_card,18.64,0.0,0.0,10.0,0.0,15840.0,47.1%,12.0,0.0
39772,3000.0,36 months,10.28%,97.20,2 years,MORTGAGE,200000.00,Not Verified,1,home_improvement,0.00,1.0,0.0,5.0,0.0,0.0,0%,8.0,0.0
39773,3000.0,36 months,8.70%,94.98,< 1 year,MORTGAGE,25000.00,Not Verified,1,small_business,14.54,0.0,1.0,10.0,0.0,3660.0,7.8%,13.0,0.0
39774,5000.0,36 months,7.43%,155.38,8 years,MORTGAGE,120000.00,Not Verified,1,debt_consolidation,2.29,0.0,0.0,8.0,0.0,8379.0,16.9%,16.0,0.0
39775,5000.0,36 months,8.07%,156.84,< 1 year,MORTGAGE,180000.00,Not Verified,1,home_improvement,5.55,0.0,0.0,12.0,0.0,40934.0,26.3%,39.0,0.0
39776,5000.0,36 months,9.33%,159.77,2 years,MORTGAGE,180000.00,Not Verified,1,home_improvement,11.93,0.0,1.0,16.0,0.0,60568.0,39.2%,38.0,0.0
39777,5000.0,36 months,9.96%,161.25,4 years,MORTGAGE,48000.00,Not Verified,1,debt_consolidation,8.03,0.0,1.0,6.0,0.0,28329.0,48.6%,6.0,0.0
39778,5000.0,36 months,11.22%,164.23,< 1 year,OWN,80000.00,Not Verified,1,credit_card,1.21,0.0,3.0,15.0,1.0,27185.0,16.1%,29.0,0.0
39779,5000.0,36 months,7.43%,155.38,1 year,OWN,85000.00,Not Verified,1,credit_card,0.31,0.0,0.0,7.0,0.0,216.0,0.6%,19.0,0.0
39780,5000.0,36 months,8.70%,158.30,5 years,MORTGAGE,75000.00,Not Verified,1,credit_card,15.55,0.0,0.0,10.0,0.0,66033.0,23%,29.0,0.0
39781,2500.0,36 months,8.07%,78.42,4 years,MORTGAGE,110000.00,Not Verified,1,home_improvement,11.33,0.0,0.0,13.0,0.0,7274.0,13.1%,40.0,0.0
39782,8500.0,36 months,10.28%,275.38,3 years,RENT,18000.00,Not Verified,1,credit_card,6.40,1.0,1.0,6.0,0.0,8847.0,26.9%,9.0,0.0
39783,5000.0,36 months,8.07%,156.84,< 1 year,MORTGAGE,100000.00,Not Verified,1,debt_consolidation,2.30,0.0,0.0,11.0,0.0,9698.0,19.4%,20.0,0.0
39784,5000.0,36 months,7.43%,155.38,< 1 year,MORTGAGE,200000.00,Not Verified,1,other,3.72,0.0,0.0,17.0,0.0,85607.0,0.7%,26.0,0.0
39785,7500.0,36 months,13.75%,255.43,< 1 year,OWN,22000.00,Not Verified,1,debt_consolidation,14.29,1.0,0.0,7.0,0.0,4175.0,51.5%,8.0,0.0

In [21]:
# convert percentages to numeric data
data['int_rate'] = data['int_rate'].apply(lambda x: x.rstrip('%')).astype(float)
data['revol_util'] = data['revol_util'].apply(lambda x: x.rstrip('%')).astype(float)

In [22]:
# converting emp_length to numeric

mapping_dict = {
    "emp_length": {
        "10+ years": 10,
        "9 years": 9,
        "8 years": 8,
        "7 years": 7,
        "6 years": 6,
        "5 years": 5,
        "4 years": 4,
        "3 years": 3,
        "2 years": 2,
        "1 year": 1,
        "< 1 year": 0,
        "n/a": 0
    }
}

data = data.replace(mapping_dict)
data.emp_length.value_counts()

10    8545
0     5545
2     4303
3     4022
4     3353
5     3202
1     3176
6     2177
7     1714
8     1442
9     1228
Name: emp_length, dtype: int64

In [23]:
data

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,pub_rec_bankruptcies
0,5000.0,36 months,10.65,162.87,10,RENT,24000.00,Verified,1,credit_card,27.65,0.0,1.0,3.0,0.0,13648.0,83.70,9.0,0.0
1,2500.0,60 months,15.27,59.83,0,RENT,30000.00,Source Verified,0,car,1.00,0.0,5.0,3.0,0.0,1687.0,9.40,4.0,0.0
2,2400.0,36 months,15.96,84.33,10,RENT,12252.00,Not Verified,1,small_business,8.72,0.0,2.0,2.0,0.0,2956.0,98.50,10.0,0.0
3,10000.0,36 months,13.49,339.31,10,RENT,49200.00,Source Verified,1,other,20.00,0.0,1.0,10.0,0.0,5598.0,21.00,37.0,0.0
5,5000.0,36 months,7.90,156.46,3,RENT,36000.00,Source Verified,1,wedding,11.20,0.0,3.0,9.0,0.0,7963.0,28.30,12.0,0.0
6,7000.0,60 months,15.96,170.08,8,RENT,47004.00,Not Verified,1,debt_consolidation,23.51,0.0,1.0,7.0,0.0,17726.0,85.60,11.0,0.0
7,3000.0,36 months,18.64,109.43,9,RENT,48000.00,Source Verified,1,car,5.35,0.0,2.0,4.0,0.0,8221.0,87.50,4.0,0.0
8,5600.0,60 months,21.28,152.39,4,OWN,40000.00,Source Verified,0,small_business,5.55,0.0,2.0,11.0,0.0,5210.0,32.60,13.0,0.0
9,5375.0,60 months,12.69,121.45,0,RENT,15000.00,Verified,0,other,18.08,0.0,0.0,2.0,0.0,9279.0,36.50,3.0,0.0
10,6500.0,60 months,14.65,153.45,5,OWN,72000.00,Not Verified,1,debt_consolidation,16.12,0.0,2.0,14.0,0.0,4032.0,20.60,23.0,0.0
11,12000.0,36 months,12.69,402.54,10,OWN,75000.00,Source Verified,1,debt_consolidation,10.78,0.0,0.0,12.0,0.0,23336.0,67.10,34.0,0.0
12,9000.0,36 months,13.49,305.38,0,RENT,30000.00,Source Verified,0,debt_consolidation,10.08,0.0,1.0,4.0,0.0,10452.0,91.70,9.0,0.0
13,3000.0,36 months,9.91,96.68,3,RENT,15000.00,Source Verified,1,credit_card,12.56,0.0,2.0,11.0,0.0,7323.0,43.10,11.0,0.0
14,10000.0,36 months,10.65,325.74,3,RENT,100000.00,Source Verified,0,other,7.06,0.0,2.0,14.0,0.0,11997.0,55.50,29.0,0.0
15,1000.0,36 months,16.29,35.31,0,RENT,28000.00,Not Verified,1,debt_consolidation,20.31,0.0,1.0,11.0,0.0,6524.0,81.50,23.0,0.0
16,10000.0,36 months,15.27,347.98,4,RENT,42000.00,Not Verified,1,home_improvement,18.60,0.0,2.0,14.0,0.0,24043.0,70.20,28.0,0.0
17,3600.0,36 months,6.03,109.57,10,MORTGAGE,110000.00,Not Verified,1,major_purchase,10.52,0.0,0.0,20.0,0.0,22836.0,16.00,42.0,0.0
18,6000.0,36 months,11.71,198.46,1,MORTGAGE,84000.00,Verified,1,medical,18.44,2.0,0.0,4.0,0.0,0.0,37.73,14.0,0.0
19,9200.0,36 months,6.03,280.01,6,RENT,77385.19,Not Verified,1,debt_consolidation,9.86,0.0,0.0,8.0,0.0,7314.0,23.10,28.0,0.0
20,20250.0,60 months,15.27,484.63,3,RENT,43370.00,Verified,1,debt_consolidation,26.53,0.0,3.0,8.0,0.0,17813.0,85.60,22.0,0.0
21,21000.0,36 months,12.42,701.73,10,RENT,105000.00,Verified,0,debt_consolidation,13.22,0.0,0.0,7.0,0.0,32135.0,90.30,38.0,0.0
22,10000.0,36 months,11.71,330.76,10,OWN,50000.00,Source Verified,1,credit_card,11.18,0.0,0.0,8.0,0.0,10056.0,82.40,21.0,0.0
23,10000.0,36 months,11.71,330.76,5,RENT,50000.00,Not Verified,1,debt_consolidation,16.01,0.0,0.0,6.0,0.0,17800.0,91.80,17.0,0.0
24,6000.0,36 months,11.71,198.46,1,RENT,76000.00,Not Verified,0,major_purchase,2.40,0.0,1.0,7.0,0.0,5963.0,29.70,7.0,0.0
25,15000.0,36 months,9.91,483.38,2,MORTGAGE,92000.00,Verified,1,credit_card,29.44,0.0,0.0,8.0,0.0,13707.0,93.90,31.0,0.0
26,15000.0,36 months,14.27,514.64,9,RENT,60000.00,Not Verified,0,debt_consolidation,15.22,0.0,1.0,7.0,0.0,5872.0,57.60,11.0,0.0
27,5000.0,60 months,16.77,123.65,2,RENT,50004.00,Not Verified,0,other,13.97,3.0,0.0,14.0,0.0,4345.0,59.50,22.0,0.0
28,4000.0,36 months,11.71,132.31,10,MORTGAGE,106000.00,Not Verified,1,debt_consolidation,5.63,1.0,0.0,12.0,0.0,6110.0,37.70,44.0,0.0
29,8500.0,36 months,11.71,281.15,0,RENT,25000.00,Source Verified,1,credit_card,12.19,0.0,0.0,8.0,0.0,6441.0,59.10,12.0,0.0
30,4375.0,36 months,7.51,136.11,7,MORTGAGE,17108.00,Source Verified,1,debt_consolidation,20.34,0.0,0.0,6.0,0.0,11210.0,86.90,12.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39756,12000.0,36 months,12.49,401.37,9,OWN,75000.00,Not Verified,1,credit_card,15.00,0.0,3.0,9.0,0.0,43039.0,93.40,24.0,0.0
39757,20000.0,36 months,13.43,678.08,6,MORTGAGE,145000.00,Not Verified,0,credit_card,10.15,0.0,0.0,17.0,0.0,41674.0,74.10,26.0,0.0
39758,1200.0,36 months,11.54,39.60,0,RENT,20000.00,Not Verified,1,credit_card,2.04,0.0,2.0,3.0,0.0,1153.0,75.80,4.0,0.0
39759,12250.0,36 months,10.59,398.69,3,RENT,60000.00,Not Verified,1,small_business,17.12,1.0,2.0,10.0,0.0,17214.0,8.10,24.0,0.0
39760,2700.0,36 months,15.96,94.88,1,RENT,52200.00,Not Verified,1,debt_consolidation,12.57,0.0,1.0,12.0,0.0,3075.0,92.30,13.0,0.0
39761,5000.0,36 months,9.01,159.03,1,MORTGAGE,250000.00,Not Verified,1,other,10.00,2.0,0.0,5.0,0.0,14354.0,36.60,7.0,0.0
39762,3500.0,36 months,9.96,112.87,0,RENT,13500.00,Not Verified,1,educational,16.44,0.0,1.0,10.0,0.0,2864.0,41.10,16.0,0.0
39763,5000.0,36 months,7.43,155.38,8,MORTGAGE,150000.00,Not Verified,1,home_improvement,0.00,0.0,0.0,2.0,0.0,6053.0,19.50,19.0,0.0
39764,5000.0,36 months,7.43,155.38,7,MORTGAGE,95000.00,Not Verified,1,vacation,3.83,0.0,0.0,8.0,0.0,3660.0,6.80,16.0,0.0
39765,25000.0,36 months,10.59,813.65,2,RENT,48000.00,Not Verified,1,small_business,4.05,0.0,0.0,5.0,0.0,2422.0,23.30,12.0,0.0
39766,10000.0,36 months,10.28,323.98,0,RENT,27376.00,Not Verified,1,small_business,10.70,0.0,0.0,4.0,0.0,3534.0,54.40,4.0,0.0
39767,5000.0,36 months,9.01,159.03,1,RENT,73000.00,Not Verified,1,credit_card,9.96,0.0,0.0,21.0,0.0,23489.0,37.60,28.0,0.0
39768,5100.0,36 months,8.38,160.72,4,RENT,32000.00,Not Verified,1,vacation,14.78,0.0,0.0,11.0,0.0,4737.0,23.90,22.0,0.0
39769,5400.0,36 months,7.75,168.60,0,RENT,8000.00,Not Verified,1,educational,3.00,0.0,0.0,4.0,0.0,1321.0,16.50,4.0,0.0
39770,5300.0,36 months,8.38,167.02,7,MORTGAGE,74000.00,Not Verified,1,credit_card,14.37,0.0,0.0,15.0,0.0,6844.0,14.40,29.0,0.0
39771,5000.0,36 months,11.22,164.23,1,OWN,30000.00,Not Verified,1,credit_card,18.64,0.0,0.0,10.0,0.0,15840.0,47.10,12.0,0.0
39772,3000.0,36 months,10.28,97.20,2,MORTGAGE,200000.00,Not Verified,1,home_improvement,0.00,1.0,0.0,5.0,0.0,0.0,0.00,8.0,0.0
39773,3000.0,36 months,8.70,94.98,0,MORTGAGE,25000.00,Not Verified,1,small_business,14.54,0.0,1.0,10.0,0.0,3660.0,7.80,13.0,0.0
39774,5000.0,36 months,7.43,155.38,8,MORTGAGE,120000.00,Not Verified,1,debt_consolidation,2.29,0.0,0.0,8.0,0.0,8379.0,16.90,16.0,0.0
39775,5000.0,36 months,8.07,156.84,0,MORTGAGE,180000.00,Not Verified,1,home_improvement,5.55,0.0,0.0,12.0,0.0,40934.0,26.30,39.0,0.0
39776,5000.0,36 months,9.33,159.77,2,MORTGAGE,180000.00,Not Verified,1,home_improvement,11.93,0.0,1.0,16.0,0.0,60568.0,39.20,38.0,0.0
39777,5000.0,36 months,9.96,161.25,4,MORTGAGE,48000.00,Not Verified,1,debt_consolidation,8.03,0.0,1.0,6.0,0.0,28329.0,48.60,6.0,0.0
39778,5000.0,36 months,11.22,164.23,0,OWN,80000.00,Not Verified,1,credit_card,1.21,0.0,3.0,15.0,1.0,27185.0,16.10,29.0,0.0
39779,5000.0,36 months,7.43,155.38,1,OWN,85000.00,Not Verified,1,credit_card,0.31,0.0,0.0,7.0,0.0,216.0,0.60,19.0,0.0
39780,5000.0,36 months,8.70,158.30,5,MORTGAGE,75000.00,Not Verified,1,credit_card,15.55,0.0,0.0,10.0,0.0,66033.0,23.00,29.0,0.0
39781,2500.0,36 months,8.07,78.42,4,MORTGAGE,110000.00,Not Verified,1,home_improvement,11.33,0.0,0.0,13.0,0.0,7274.0,13.10,40.0,0.0
39782,8500.0,36 months,10.28,275.38,3,RENT,18000.00,Not Verified,1,credit_card,6.40,1.0,1.0,6.0,0.0,8847.0,26.90,9.0,0.0
39783,5000.0,36 months,8.07,156.84,0,MORTGAGE,100000.00,Not Verified,1,debt_consolidation,2.30,0.0,0.0,11.0,0.0,9698.0,19.40,20.0,0.0
39784,5000.0,36 months,7.43,155.38,0,MORTGAGE,200000.00,Not Verified,1,other,3.72,0.0,0.0,17.0,0.0,85607.0,0.70,26.0,0.0
39785,7500.0,36 months,13.75,255.43,0,OWN,22000.00,Not Verified,1,debt_consolidation,14.29,1.0,0.0,7.0,0.0,4175.0,51.50,8.0,0.0

In [24]:
nominal_cols = ['home_ownership', 'verification_status', 'purpose', 'term']
dummy_df = pd.DataFrame()

for each in nominal_cols:
    dummies = pd.get_dummies(data[each],prefix=each)
    data = pd.concat([data, dummies], axis=1)
    data = data.drop(each, axis=1)
    
data.head()

,loan_amnt,int_rate,installment,emp_length,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,pub_rec_bankruptcies,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,term_ 36 months,term_ 60 months
0,5000.0,10.65,162.87,10,24000.0,1,27.65,0.0,1.0,3.0,0.0,13648.0,83.7,9.0,0.0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,2500.0,15.27,59.83,0,30000.0,0,1.00,0.0,5.0,3.0,0.0,1687.0,9.4,4.0,0.0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,2400.0,15.96,84.33,10,12252.0,1,8.72,0.0,2.0,2.0,0.0,2956.0,98.5,10.0,0.0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
3,10000.0,13.49,339.31,10,49200.0,1,20.00,0.0,1.0,10.0,0.0,5598.0,21.0,37.0,0.0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
5,5000.0,7.90,156.46,3,36000.0,1,11.20,0.0,3.0,9.0,0.0,7963.0,28.3,12.0,0.0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0

# Modeling

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38707 entries, 0 to 39785
Data columns (total 39 columns):
loan_amnt                              38707 non-null float64
int_rate                               38707 non-null float64
installment                            38707 non-null float64
emp_length                             38707 non-null int64
annual_inc                             38707 non-null float64
loan_status                            38707 non-null int64
dti                                    38707 non-null float64
delinq_2yrs                            38707 non-null float64
inq_last_6mths                         38707 non-null float64
open_acc                               38707 non-null float64
pub_rec                                38707 non-null float64
revol_bal                              38707 non-null float64
revol_util                             38707 non-null float64
total_acc                              38707 non-null float64
pub_rec_bankruptcies                   38707 non-null float64
home_ownership_MORTGAGE                38707 non-null uint8
home_ownership_NONE                    38707 non-null uint8
home_ownership_OTHER                   38707 non-null uint8
home_ownership_OWN                     38707 non-null uint8
home_ownership_RENT                    38707 non-null uint8
verification_status_Not Verified       38707 non-null uint8
verification_status_Source Verified    38707 non-null uint8
verification_status_Verified           38707 non-null uint8
purpose_car                            38707 non-null uint8
purpose_credit_card                    38707 non-null uint8
purpose_debt_consolidation             38707 non-null uint8
purpose_educational                    38707 non-null uint8
purpose_home_improvement               38707 non-null uint8
purpose_house                          38707 non-null uint8
purpose_major_purchase                 38707 non-null uint8
purpose_medical                        38707 non-null uint8
purpose_moving                         38707 non-null uint8
purpose_other                          38707 non-null uint8
purpose_renewable_energy               38707 non-null uint8
purpose_small_business                 38707 non-null uint8
purpose_vacation                       38707 non-null uint8
purpose_wedding                        38707 non-null uint8
term_ 36 months                        38707 non-null uint8
term_ 60 months                        38707 non-null uint8
dtypes: float64(13), int64(2), uint8(24)
memory usage: 5.6 MB

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import *

In [27]:
features = data.drop(['loan_status'], axis=1)
target = data['loan_status']

In [28]:
def model(clf, cv = 3):
    predict = cross_val_predict(clf, features, target, cv = cv)
    predict = pd.Series(predict)
    tp = len(predict[(predict == 1) & (target == 1)])
    fp = len(predict[(predict == 1) & (target == 0)])
    fn = len(predict[(predict == 0) & (target == 1)])
    tn = len(predict[(predict == 0) & (target == 0)])
        
    tpr = tp / (tp + fn)
    fpr = fp / (tn + fp)
    return tpr, fpr

In [29]:
print(model(LogisticRegression(class_weight=None)))

(0.9983538327742577, 0.9974250505793636)

Without using balanced class weights, our model achieves good accuracy by just predicting '1' everytime (since this is so much more common than '0')

In [30]:
print(model(LogisticRegression(class_weight='balanced')))

(0.622934526028078, 0.6270001839249586)

We significantly improve the FPR by using balanced class weights

In [31]:
print(model(LogisticRegression(class_weight={0: 10, 1: 1})))

(0.22061746800844825, 0.2286187235607872)

We dropped false positive rate even further by imposing manual 10x penalty using class_weight parameter.  This is good as it helps us avoid picking loans that will eventually default, but we also miss 80% of loans that will be paid off!

In [32]:
print(model(RandomForestClassifier(n_estimators=10, random_state = 1, class_weight=None)))
print(model(RandomForestClassifier(n_estimators=10, random_state = 1, class_weight='balanced')))
print(model(RandomForestClassifier(n_estimators=10, random_state = 1, class_weight={0:10, 1:1})))

(0.945428003478693, 0.9407761633253633)
(0.9626661697105231, 0.9630310833180062)
(0.9673872530749161, 0.9628471583593894)

Hmm, even balanced RF classifier and penalized RF has very high FPR

In [33]:
print(model(RandomForestClassifier(n_estimators=100, random_state = 1, class_weight=None)))
print(model(RandomForestClassifier(n_estimators=100, random_state = 1, class_weight='balanced')))
print(model(RandomForestClassifier(n_estimators=100, random_state = 1, class_weight={0:10, 1:1})))

(0.9915206857994782, 0.9908037520691558)
(0.9965213069946577, 0.9972411256207467)
(0.9968629643433967, 0.9963215008276624)

In [34]:
print(model(MLPClassifier(hidden_layer_sizes=(25,25),max_iter=1000,random_state=1)))
print(model(MLPClassifier(hidden_layer_sizes=(50,50),max_iter=1000,random_state=1)))
print(model(MLPClassifier(hidden_layer_sizes=(100,100),max_iter=1000,random_state=1)))

(0.9982295937383526, 0.9970572006621299)
(0.9153000372717107, 0.9166819937465515)
(0.995527394707417, 0.9963215008276624)

Achieving balance by adding in extra '0' rows

In [38]:
copied_data = data.copy()
ones = copied_data[copied_data['loan_status'] == 1]
zeros = copied_data[copied_data['loan_status'] == 0]
extra_zeros = ones.copy()
for each in range(5):
    extra_zeros = pd.concat([extra_zeros, zeros])
    
extra_zeros = extra_zeros.reset_index(drop=True)
extra_zeros.shape

(61167, 39)

In [39]:
features = extra_zeros.drop(['loan_status'], axis=1)
target = extra_zeros['loan_status']

In [41]:
print(model(LogisticRegression()))
print(model(RandomForestClassifier(n_estimators=10, random_state = 1)))
print(model(RandomForestClassifier(n_estimators=100, random_state = 1)))
print(model(MLPClassifier(hidden_layer_sizes=(25,25),max_iter=1000,random_state=1)))
print(model(MLPClassifier(hidden_layer_sizes=(50,50),max_iter=1000,random_state=1)))
print(model(MLPClassifier(hidden_layer_sizes=(100,100),max_iter=1000,random_state=1)))

(0.6349873081107216, 0.43882457702582367)
(0.7410854587211411, 0.0)
(0.8318626858455216, 0.0)
(0.9271425117853258, 0.85506678539626)
(0.4711712800676901, 0.386179875333927)
(0.3289616825818929, 0.2602315227070347)

Achieving balance by deleting '1' rows

In [44]:
copied_data = data.copy()
ones = copied_data[copied_data['loan_status'] == 1]
zeros = copied_data[copied_data['loan_status'] == 0]
ones = ones.sample(frac=1)
num_zeros = zeros.shape[0]
ones = ones.iloc[:num_zeros]
data = pd.concat([ones, zeros])
data = data.sample(frac=1)
print(data.shape)

(11230, 39)

In [45]:
features = data.drop(['loan_status'], axis=1)
target = data['loan_status']

In [46]:
print(model(LogisticRegression()))
print(model(RandomForestClassifier(n_estimators=10, random_state = 1)))
print(model(RandomForestClassifier(n_estimators=100, random_state = 1)))
print(model(MLPClassifier(hidden_layer_sizes=(25,25),max_iter=1000,random_state=1)))
print(model(MLPClassifier(hidden_layer_sizes=(50,50),max_iter=1000,random_state=1)))
print(model(MLPClassifier(hidden_layer_sizes=(100,100),max_iter=1000,random_state=1)))

(0.4638888888888889, 0.4658959537572254)
(0.4013888888888889, 0.4346820809248555)
(0.4826388888888889, 0.48728323699421966)
(0.35625, 0.32543352601156067)
(0.33611111111111114, 0.37052023121387284)
(0.6375, 0.6479768786127168)